<div style="padding: 60px 30px">
  <h6 style="display: flex; justify-content: center">Add Content</h6>
  <mat-divider></mat-divider>
  <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Title</label>
      <input
        type="text"
        class="form-control"
        id="name"
        placeholder="Name"
        name="name"
        formControlName="name"
      />
    </div>

    <div class="form-group">
      <label for="type">Type</label>
      <input
        type="text"
        class="form-control"
        id="type"
        placeholder="Type"
        name="type"
        formControlName="type"
      />
    </div>

    <div class="form-group" style="display: flex; justify-content: center">
      <button
        type="submit"
        class="btn btn-primary"
        style="width: 200px"
        [disabled]="!categoryForm.valid"
      >
        {{ submitButton }}
      </button>
    </div>
  </form>
</div>
