<button
  type="button"
  class="btn btn-primary"
  style="float: right; width: 200px; margin: 10px 0px"
  (click)="openContentTypeDialog(createNewContentType())"
>
  Create content type
</button>
<table class="table">
  <colgroup>
    <col />
    <col />
    <col />
    <col span="2" style="width: 50px" />
  </colgroup>
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Type</th>
      <th scope="col">Name</th>
      <th scope="col" colspan="2">Functions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let contentType of contentTypes">
      <td>{{ contentTypes.indexOf(contentType) }}</td>
      <td>{{ contentType.type }}</td>
      <td>{{ contentType.name }}</td>
      <td>
        <a (click)="openContentTypeDialog(contentType)">
          <mat-icon
            aria-hidden="false"
            aria-label="edit"
            fontIcon="edit"
          ></mat-icon>
        </a>
      </td>
      <td>
        <a (click)="openConfirmDialog(contentType)">
          <mat-icon
            aria-hidden="false"
            aria-label="edit"
            fontIcon="delete"
          ></mat-icon>
        </a>
      </td>
    </tr>
  </tbody>
</table>
